/*inclimos sas para crear archivo css de estilo*/
.jumbotron {
  background-color: #6753c4;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: white;
  color: turquoise; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #6753c4;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.row {
  margin-top: 10px; }

/*# sourceMappingURL=styles.css.map */
