@yellow: #fffb00;
@rojo:#d40f04;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @rojo;
    color: black;
    .margenes(50px, 0px);
}

.btn {
    background-color: rgb(255, 255, 255);
    color: turquoise;
}

.card-hotel {
    flex: 1 200px;
    
    .margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius:0px ;
}
footer {
    padding: 10px 10px 0 10px;
    background-color:@rojo;
    .margenes(10px, 0px);
}
.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
.row {
    margin-top: 10px;
}