/*inclimos sas para crear archivo css de estilo*/
$yellow: #2c2735;
$rojo:#d40f04;
$verde:#6753c4;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color:$verde;
    color: black;
    @include margenes(50px, 0px);
}

.btn {
    background-color: rgb(255, 255, 255);
    color: turquoise;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius:0px ;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: $verde;
    @include margenes(10px, 0px);
}
.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
.row {
    margin-top: 10px;
}